{
  "swagger": "2.0",
  "info": {
    "title": "200 Soft | iCheck API",
    "description": "200 Soft | iCheck API Swagger",
    "termsOfService": "https://www.200soft.com/",
    "contact": {
      "email": "info@200soft.com"
    },
    "license": {
      "name": "200 Soft | 200 Soft License"
    },
    "version": "v1"
  },
  "host": "icheckapi.200soft.com",
  "schemes": ["https"],
  "basePath": "/",
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "⚠️ Enter: Bearer <your_token>  (include the word Bearer and a space)"
    }
  },
  "security": [
    {
      "Bearer": []
    }
  ],
  "paths": {
    "/api/v1/admin/ads/": {
      "get": {
        "operationId": "api_v1_admin_ads_list",
        "description": "",
        "parameters": [
          {
            "name": "placement",
            "in": "query",
            "type": "string",
            "enum": ["home", "doctor_list"]
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BannerAd"
              }
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "post": {
        "operationId": "api_v1_admin_ads_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BannerAdWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BannerAd"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "parameters": []
    },
    "/api/v1/admin/ads/{id}/": {
      "get": {
        "operationId": "api_v1_admin_ads_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BannerAd"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "patch": {
        "operationId": "api_v1_admin_ads_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BannerAdWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/BannerAd"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "delete": {
        "operationId": "api_v1_admin_ads_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Banner ad deleted."
          }
        },
        "tags": ["Admin — Content"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/appointments/": {
      "get": {
        "operationId": "api_v1_admin_appointments_list",
        "description": "",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "type": "string"
          },
          {
            "name": "doctor_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "patient_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedAdminAppointmentList"
            }
          }
        },
        "tags": ["Admin — Appointments"]
      },
      "post": {
        "operationId": "api_v1_admin_appointments_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminAppointmentCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Appointment created."
          }
        },
        "tags": ["Admin — Appointments"]
      },
      "parameters": []
    },
    "/api/v1/admin/appointments/{id}/": {
      "get": {
        "operationId": "api_v1_admin_appointments_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Appointment detail."
          }
        },
        "tags": ["Admin — Appointments"]
      },
      "patch": {
        "operationId": "api_v1_admin_appointments_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminAppointmentUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment updated."
          }
        },
        "tags": ["Admin — Appointments"]
      },
      "delete": {
        "operationId": "api_v1_admin_appointments_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Appointment deleted."
          }
        },
        "tags": ["Admin — Appointments"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/clinics/": {
      "get": {
        "operationId": "api_v1_admin_clinics_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "region_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "service_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedClinic"
            }
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_clinics_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClinicWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Clinic created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/clinics/{id}/": {
      "get": {
        "operationId": "api_v1_admin_clinics_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Clinic detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_clinics_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ClinicWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Clinic updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_clinics_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Clinic deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/diagnoses/": {
      "get": {
        "operationId": "api_v1_admin_diagnoses_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedDiagnosis"
            }
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_diagnoses_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosisWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Diagnosis created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/diagnoses/{id}/": {
      "get": {
        "operationId": "api_v1_admin_diagnoses_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Diagnosis detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_diagnoses_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiagnosisWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Diagnosis updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_diagnoses_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Diagnosis deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/diseases/": {
      "get": {
        "operationId": "api_v1_admin_diseases_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Diseases list."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_diseases_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiseaseWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Disease created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/diseases/{id}/": {
      "get": {
        "operationId": "api_v1_admin_diseases_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Disease detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_diseases_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DiseaseWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Disease updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_diseases_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Disease deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/drugs/": {
      "get": {
        "operationId": "api_v1_admin_drugs_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Drugs list."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_drugs_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DrugWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Drug created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/drugs/{id}/": {
      "get": {
        "operationId": "api_v1_admin_drugs_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Drug detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_drugs_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DrugWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Drug updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_drugs_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Drug deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/faq/": {
      "get": {
        "operationId": "api_v1_admin_faq_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/FaqItem"
              }
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "post": {
        "operationId": "api_v1_admin_faq_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FaqItemWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FaqItem"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "parameters": []
    },
    "/api/v1/admin/faq/{id}/": {
      "patch": {
        "operationId": "api_v1_admin_faq_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FaqItemWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FaqItem"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "delete": {
        "operationId": "api_v1_admin_faq_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "FAQ item deleted."
          }
        },
        "tags": ["Admin — Content"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/finance/withdrawals/{id}/": {
      "patch": {
        "operationId": "api_v1_admin_finance_withdrawals_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminWithdrawalUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawal updated."
          }
        },
        "tags": ["Admin — Finance"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/forum-answers/": {
      "get": {
        "operationId": "api_v1_admin_forum-answers_list",
        "description": "",
        "parameters": [
          {
            "name": "post_id",
            "in": "query",
            "description": "Filter answers by post ID",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedForumAnswer"
            }
          }
        },
        "tags": ["Admin — Forum"]
      },
      "parameters": []
    },
    "/api/v1/admin/forum-answers/{id}/": {
      "delete": {
        "operationId": "api_v1_admin_forum-answers_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": ["Admin — Forum"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/forum-posts/": {
      "get": {
        "operationId": "api_v1_admin_forum-posts_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter by title or body",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedForumPostList"
            }
          }
        },
        "tags": ["Admin — Forum"]
      },
      "parameters": []
    },
    "/api/v1/admin/forum-posts/{id}/": {
      "delete": {
        "operationId": "api_v1_admin_forum-posts_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": ["Admin — Forum"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/pages/": {
      "get": {
        "operationId": "api_v1_admin_pages_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContentPage"
              }
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "post": {
        "operationId": "api_v1_admin_pages_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContentPageWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ContentPage"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "parameters": []
    },
    "/api/v1/admin/pages/{slug}/": {
      "get": {
        "operationId": "api_v1_admin_pages_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ContentPage"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "patch": {
        "operationId": "api_v1_admin_pages_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContentPageWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ContentPage"
            }
          }
        },
        "tags": ["Admin — Content"]
      },
      "delete": {
        "operationId": "api_v1_admin_pages_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Content page deleted."
          }
        },
        "tags": ["Admin — Content"]
      },
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/prescriptions/": {
      "get": {
        "operationId": "api_v1_admin_prescriptions_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedAdminPrescriptionList"
            }
          }
        },
        "tags": ["Admin — Prescriptions"]
      },
      "post": {
        "operationId": "api_v1_admin_prescriptions_create",
        "summary": "Create prescription (Admin only)",
        "description": "Creates a prescription with explicit doctor assignment.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminPrescriptionCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Prescription created."
          }
        },
        "tags": ["Admin — Prescriptions"]
      },
      "parameters": []
    },
    "/api/v1/admin/prescriptions/{id}/": {
      "get": {
        "operationId": "api_v1_admin_prescriptions_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Prescription detail."
          }
        },
        "tags": ["Admin — Prescriptions"]
      },
      "patch": {
        "operationId": "api_v1_admin_prescriptions_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AdminPrescriptionUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Prescription updated."
          }
        },
        "tags": ["Admin — Prescriptions"]
      },
      "delete": {
        "operationId": "api_v1_admin_prescriptions_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Prescription deleted."
          }
        },
        "tags": ["Admin — Prescriptions"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/regions/": {
      "get": {
        "operationId": "api_v1_admin_regions_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Regions list."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_regions_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegionWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Region created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/regions/{id}/": {
      "get": {
        "operationId": "api_v1_admin_regions_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Region detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_regions_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RegionWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Region updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_regions_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Region deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/services/": {
      "get": {
        "operationId": "api_v1_admin_services_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "clinic_id",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Services list."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_services_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Service created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/services/{id}/": {
      "get": {
        "operationId": "api_v1_admin_services_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Service detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_services_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ServiceWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_services_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Service deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/specializations/": {
      "get": {
        "operationId": "api_v1_admin_specializations_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedSpecializationReference"
            }
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_specializations_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpecializationWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Specialization created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/specializations/{id}/": {
      "get": {
        "operationId": "api_v1_admin_specializations_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Specialization detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_specializations_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpecializationWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Specialization updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_specializations_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Specialization deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/admin/symptoms/": {
      "get": {
        "operationId": "api_v1_admin_symptoms_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "gender",
            "in": "query",
            "type": "string"
          },
          {
            "name": "side",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body_part",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Symptoms list."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "post": {
        "operationId": "api_v1_admin_symptoms_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SymptomWrite"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Symptom created."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/admin/symptoms/{id}/": {
      "get": {
        "operationId": "api_v1_admin_symptoms_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Symptom detail."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "patch": {
        "operationId": "api_v1_admin_symptoms_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SymptomWrite"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Symptom updated."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "delete": {
        "operationId": "api_v1_admin_symptoms_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Symptom deleted."
          }
        },
        "tags": ["Admin — Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/ads/": {
      "get": {
        "operationId": "api_v1_ads_list",
        "description": "",
        "parameters": [
          {
            "name": "placement",
            "in": "query",
            "type": "string",
            "enum": ["home", "doctor_list"]
          },
          {
            "name": "limit",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Active banner ads."
          }
        },
        "tags": ["Content"]
      },
      "parameters": []
    },
    "/api/v1/appointments/": {
      "get": {
        "operationId": "api_v1_appointments_list",
        "description": "",
        "parameters": [
          {
            "name": "date",
            "in": "query",
            "description": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "history",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedAppointmentList"
            }
          }
        },
        "tags": ["Appointments"]
      },
      "post": {
        "operationId": "api_v1_appointments_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Appointment created."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": []
    },
    "/api/v1/appointments/manual/": {
      "post": {
        "operationId": "api_v1_appointments_manual_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentManualCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Manual appointment created."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": []
    },
    "/api/v1/appointments/{id}/": {
      "get": {
        "operationId": "api_v1_appointments_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Appointment detail."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/appointments/{id}/confirm/": {
      "post": {
        "operationId": "api_v1_appointments_confirm_create",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Appointment confirmed."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/appointments/{id}/decline/": {
      "post": {
        "operationId": "api_v1_appointments_decline_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentDecline"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment declined."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/appointments/{id}/payment/": {
      "post": {
        "operationId": "api_v1_appointments_payment_create",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Payment session URL."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/appointments/{id}/postpone/": {
      "post": {
        "operationId": "api_v1_appointments_postpone_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentPostpone"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Appointment postponed."
          }
        },
        "tags": ["Appointments"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/appointments/{id}/review/": {
      "post": {
        "operationId": "api_v1_appointments_review_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AppointmentReviewCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Appointment review created."
          }
        },
        "tags": ["Reviews & Ratings"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/clinics/": {
      "get": {
        "operationId": "api_v1_clinics_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "region_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "service_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedClinic"
            }
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/clinics/{id}/": {
      "get": {
        "operationId": "api_v1_clinics_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Clinic detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/consultations/": {
      "get": {
        "operationId": "api_v1_consultations_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedConsultationList"
            }
          }
        },
        "tags": ["Consultations"]
      },
      "parameters": []
    },
    "/api/v1/diagnoses/": {
      "get": {
        "operationId": "api_v1_diagnoses_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedDiagnosis"
            }
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/diagnoses/{id}/": {
      "get": {
        "operationId": "api_v1_diagnoses_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Diagnosis detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/diseases/": {
      "get": {
        "operationId": "api_v1_diseases_list",
        "description": "",
        "parameters": [
          {
            "name": "symptom_ids",
            "in": "query",
            "type": "string"
          },
          {
            "name": "gender",
            "in": "query",
            "type": "string"
          },
          {
            "name": "side",
            "in": "query",
            "type": "string"
          },
          {
            "name": "body_part",
            "in": "query",
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Diseases list."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/diseases/{id}/": {
      "get": {
        "operationId": "api_v1_diseases_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Disease detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/doctors/": {
      "get": {
        "operationId": "api_v1_doctors_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "specialization_id",
            "in": "query",
            "type": "string"
          },
          {
            "name": "price_min",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "price_max",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "experience_min",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "experience_max",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "location_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "top",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "insurance_accepted",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "mental_health",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "clinic_id",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedDoctorPublicList"
            }
          }
        },
        "tags": ["Doctors"]
      },
      "parameters": []
    },
    "/api/v1/doctors/{id}/": {
      "get": {
        "operationId": "api_v1_doctors_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Doctor profile detail."
          }
        },
        "tags": ["Doctors"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/doctors/{id}/reviews/": {
      "get": {
        "operationId": "api_v1_doctors_reviews_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedAppointmentReview"
            }
          }
        },
        "tags": ["Reviews & Ratings"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/doctors/{id}/schedule/": {
      "get": {
        "operationId": "api_v1_doctors_schedule_list",
        "description": "",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "online | offline (defaults to online)",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Doctor schedule rules."
          }
        },
        "tags": ["Time Slots"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/doctors/{id}/slots/": {
      "get": {
        "operationId": "api_v1_doctors_slots_list",
        "description": "",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "online | offline (defaults to online)",
            "type": "string"
          },
          {
            "name": "date",
            "in": "query",
            "description": "YYYY-MM-DD",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Available slots for the given date."
          }
        },
        "tags": ["Time Slots"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/drugs/": {
      "get": {
        "operationId": "api_v1_drugs_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Drugs list (typeahead)."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/drugs/{id}/": {
      "get": {
        "operationId": "api_v1_drugs_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Drug detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/faq/": {
      "get": {
        "operationId": "api_v1_faq_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "FAQ items."
          }
        },
        "tags": ["Content"]
      },
      "parameters": []
    },
    "/api/v1/finance/earnings/": {
      "get": {
        "operationId": "api_v1_finance_earnings_list",
        "description": "",
        "parameters": [
          {
            "name": "month",
            "in": "query",
            "description": "YYYY-MM",
            "type": "string"
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "YYYY-MM-DD",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedEarning"
            }
          }
        },
        "tags": ["Finance"]
      },
      "parameters": []
    },
    "/api/v1/finance/summary/": {
      "get": {
        "operationId": "api_v1_finance_summary_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FinanceSummary"
            }
          }
        },
        "tags": ["Finance"]
      },
      "parameters": []
    },
    "/api/v1/finance/withdrawals/": {
      "get": {
        "operationId": "api_v1_finance_withdrawals_list",
        "description": "",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "pending | approved | rejected | paid",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedWithdrawal"
            }
          }
        },
        "tags": ["Finance"]
      },
      "post": {
        "operationId": "api_v1_finance_withdrawals_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/WithdrawalCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Withdrawal request created."
          }
        },
        "tags": ["Finance"]
      },
      "parameters": []
    },
    "/api/v1/forum-answers/{id}/": {
      "delete": {
        "operationId": "api_v1_forum-answers_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "403": {
            "description": "Not author."
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": ["Forum"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/forum-posts/": {
      "get": {
        "operationId": "api_v1_forum-posts_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Filter by title or body",
            "type": "string"
          },
          {
            "name": "mine",
            "in": "query",
            "description": "Return only the caller's posts",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedForumPostList"
            }
          }
        },
        "tags": ["Forum"]
      },
      "post": {
        "operationId": "api_v1_forum-posts_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForumPostCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ForumPostList"
            }
          }
        },
        "tags": ["Forum"]
      },
      "parameters": []
    },
    "/api/v1/forum-posts/{id}/": {
      "get": {
        "operationId": "api_v1_forum-posts_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ForumPostList"
            }
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": ["Forum"]
      },
      "patch": {
        "operationId": "api_v1_forum-posts_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForumPostUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ForumPostList"
            }
          },
          "403": {
            "description": "Not author."
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": ["Forum"]
      },
      "delete": {
        "operationId": "api_v1_forum-posts_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Deleted."
          },
          "403": {
            "description": "Not author."
          },
          "404": {
            "description": "Not found."
          }
        },
        "tags": ["Forum"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/forum-posts/{id}/answers/": {
      "get": {
        "operationId": "api_v1_forum-posts_answers_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ForumAnswer"
              }
            }
          },
          "404": {
            "description": "Post not found."
          }
        },
        "tags": ["Forum"]
      },
      "post": {
        "operationId": "api_v1_forum-posts_answers_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ForumAnswerCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ForumAnswer"
            }
          },
          "403": {
            "description": "Doctors-only gate failed."
          },
          "404": {
            "description": "Post not found."
          }
        },
        "tags": ["Forum"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/forum-posts/{id}/like/": {
      "post": {
        "operationId": "api_v1_forum-posts_like_create",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Like toggled.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "like_count": {
                      "type": "integer"
                    },
                    "liked_by_me": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Post not found."
          }
        },
        "tags": ["Forum"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/notifications/": {
      "get": {
        "operationId": "api_v1_notifications_list",
        "description": "",
        "parameters": [
          {
            "name": "unread",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedNotification"
            }
          }
        },
        "tags": ["Notifications"]
      },
      "delete": {
        "operationId": "api_v1_notifications_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "All notifications deleted."
          }
        },
        "tags": ["Notifications"]
      },
      "parameters": []
    },
    "/api/v1/notifications/devices/": {
      "post": {
        "operationId": "api_v1_notifications_devices_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FCMDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token re-linked to current user."
          },
          "201": {
            "description": "Device registered."
          }
        },
        "tags": ["Notifications"]
      },
      "delete": {
        "operationId": "api_v1_notifications_devices_delete",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FCMDevice"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Device unregistered."
          },
          "404": {
            "description": "Token not found."
          }
        },
        "tags": ["Notifications"]
      },
      "parameters": []
    },
    "/api/v1/notifications/read-all/": {
      "post": {
        "operationId": "api_v1_notifications_read-all_create",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "All marked read."
          }
        },
        "tags": ["Notifications"]
      },
      "parameters": []
    },
    "/api/v1/notifications/unread-count/": {
      "get": {
        "operationId": "api_v1_notifications_unread-count_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Unread count."
          }
        },
        "tags": ["Notifications"]
      },
      "parameters": []
    },
    "/api/v1/notifications/{id}/": {
      "delete": {
        "operationId": "api_v1_notifications_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Deleted."
          }
        },
        "tags": ["Notifications"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/notifications/{id}/read/": {
      "post": {
        "operationId": "api_v1_notifications_read_create",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Marked read."
          }
        },
        "tags": ["Notifications"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/pages/{slug}/": {
      "get": {
        "operationId": "api_v1_pages_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Static page by slug."
          },
          "404": {
            "description": "Unknown slug."
          }
        },
        "tags": ["Content"]
      },
      "parameters": [
        {
          "name": "slug",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/prescription-services/": {
      "get": {
        "operationId": "api_v1_prescription-services_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Services list for prescription form."
          }
        },
        "tags": ["Prescriptions"]
      },
      "parameters": []
    },
    "/api/v1/prescriptions/": {
      "get": {
        "operationId": "api_v1_prescriptions_list",
        "description": "",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedPrescriptionList"
            }
          }
        },
        "tags": ["Prescriptions"]
      },
      "post": {
        "operationId": "api_v1_prescriptions_create",
        "summary": "Create prescription (Doctor only)",
        "description": "Creates a prescription for a completed appointment.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PrescriptionCreate"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Prescription created."
          },
          "403": {
            "description": "Forbidden - Doctor only"
          }
        },
        "tags": ["Prescriptions"]
      },
      "parameters": []
    },
    "/api/v1/prescriptions/{id}/": {
      "get": {
        "operationId": "api_v1_prescriptions_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Prescription detail."
          }
        },
        "tags": ["Prescriptions"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/regions/": {
      "get": {
        "operationId": "api_v1_regions_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Regions list."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/regions/{id}/": {
      "get": {
        "operationId": "api_v1_regions_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Region detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/services/": {
      "get": {
        "operationId": "api_v1_services_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "clinic_id",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Services list."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/services/{id}/": {
      "get": {
        "operationId": "api_v1_services_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Service detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/specializations/": {
      "get": {
        "operationId": "api_v1_specializations_list",
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedSpecializationReference"
            }
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/specializations/{id}/": {
      "get": {
        "operationId": "api_v1_specializations_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Specialization detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/symptoms/": {
      "get": {
        "operationId": "api_v1_symptoms_list",
        "description": "",
        "parameters": [
          {
            "name": "gender",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "side",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "body_part",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Symptoms list."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": []
    },
    "/api/v1/symptoms/{id}/": {
      "get": {
        "operationId": "api_v1_symptoms_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Symptom detail."
          }
        },
        "tags": ["Reference Data"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/users/": {
      "get": {
        "operationId": "api_v1_users_list",
        "description": "",
        "parameters": [
          {
            "name": "scope",
            "in": "query",
            "description": "Qeyri-aktiv istifadəçilər: inactive, aktiv istifadəçilər: active, leader: lider istifadəçilər",
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "Axtarış",
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sıralama (məs: name, -name)",
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Səhifə nömrəsi",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Səhifədəki element sayı",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "If query param `search` is provided: doctor-only patient search (simple result for doctors, full result for staff/admin), same `data` + `meta` pagination shape as the general list. Empty `search` returns an empty page. Otherwise: paginated user list."
          }
        },
        "tags": ["Users - User"]
      },
      "post": {
        "operationId": "api_v1_users_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "tags": ["Users - User"]
      },
      "parameters": []
    },
    "/api/v1/users/password-change/": {
      "post": {
        "operationId": "api_v1_users_password-change_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "required": [
                "old_password",
                "new_password",
                "new_password_confirm"
              ],
              "type": "object",
              "properties": {
                "old_password": {
                  "description": "Köhnə şifrə",
                  "type": "string"
                },
                "new_password": {
                  "description": "Yeni şifrə",
                  "type": "string"
                },
                "new_password_confirm": {
                  "description": "Yeni şifrə təsdiqi",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Şifrə uğurla dəyişdirildi"
          },
          "400": {
            "description": "Xəta"
          }
        },
        "tags": ["Users - User Password"]
      },
      "parameters": []
    },
    "/api/v1/users/{id}/": {
      "get": {
        "operationId": "api_v1_users_read",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "tags": ["Users - User"]
      },
      "put": {
        "operationId": "api_v1_users_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "tags": ["Users - User"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/api/v1/users/{id}/password-reset/": {
      "post": {
        "operationId": "api_v1_users_password-reset_create",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Şifrə uğurla sıfırlandı"
          },
          "403": {
            "description": "Səlahiyyət yoxdur"
          }
        },
        "tags": ["Users - User Password"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    },
    "/auth/login/": {
      "post": {
        "operationId": "auth_login_create",
        "description": "Takes a set of user credentials and returns an access and refresh JSON web\ntoken pair to prove the authentication of those credentials.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenObtainPair"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenObtainPair"
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/logout/": {
      "post": {
        "operationId": "auth_logout_create",
        "description": "Takes a token and blacklists it. Must be used with the\n`rest_framework_simplejwt.token_blacklist` app installed.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenBlacklist"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenBlacklist"
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/auth/otp/request/": {
      "post": {
        "operationId": "auth_otp_request_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OTPRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OTP send acknowledged (mock)."
          },
          "400": {
            "description": "Invalid phone."
          }
        },
        "tags": ["Auth"]
      },
      "parameters": []
    },
    "/auth/otp/verify/": {
      "post": {
        "operationId": "auth_otp_verify_create",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OTPVerify"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tokens and profile."
          },
          "400": {
            "description": "Validation or invalid OTP."
          }
        },
        "tags": ["Auth"]
      },
      "parameters": []
    },
    "/auth/refresh/": {
      "post": {
        "operationId": "auth_refresh_create",
        "description": "Takes a refresh type JSON web token and returns an access type JSON web\ntoken if the refresh token is valid.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenRefresh"
            }
          }
        },
        "tags": ["auth"]
      },
      "parameters": []
    },
    "/me/": {
      "get": {
        "operationId": "me_list",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Authenticated profile. The data shape depends on role.",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object"
                }
              }
            },
            "examples": {
              "application/json": {
                "user": {
                  "data": {
                    "role": "user",
                    "id": 653,
                    "phone": "+994501234567",
                    "fullname": "Kamran Bekirov",
                    "avatar_url": "https://example.com/avatar.jpg",
                    "birthday": "1990-01-15",
                    "gender": "male",
                    "location_id": 1,
                    "health": {
                      "diabetes": false,
                      "hypertension": false,
                      "smoking": true,
                      "asthma": false,
                      "allergies": false
                    }
                  }
                },
                "doctor": {
                  "data": {
                    "role": "doctor",
                    "id": 58,
                    "phone": "+994501234567",
                    "fullname": "Dr. Aliyev",
                    "avatar_url": "https://example.com/avatar.jpg",
                    "birthday": "1985-03-20",
                    "gender": "male",
                    "location_id": 1,
                    "specializations": [
                      {
                        "id": 12,
                        "title": "Kardioloq"
                      }
                    ],
                    "workplace": "MedEra Hospital",
                    "experience_years": 10,
                    "price": 30,
                    "offline_price": 50,
                    "only_offline": false,
                    "descriptions": {
                      "az": "...",
                      "en": "...",
                      "ru": "..."
                    }
                  }
                }
              }
            }
          }
        },
        "tags": ["Users - User Detail"]
      },
      "patch": {
        "operationId": "me_partial_update",
        "description": "",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "fullname": {
                  "type": "string"
                },
                "birthday": {
                  "type": "string",
                  "format": "date"
                },
                "gender": {
                  "type": "string"
                },
                "location_id": {
                  "type": "integer",
                  "nullable": true
                },
                "health": {
                  "type": "object",
                  "properties": {
                    "diabetes": {
                      "type": "boolean"
                    },
                    "hypertension": {
                      "type": "boolean"
                    },
                    "smoking": {
                      "type": "boolean"
                    },
                    "asthma": {
                      "type": "boolean"
                    },
                    "allergies": {
                      "type": "boolean"
                    }
                  }
                },
                "workplace": {
                  "type": "string",
                  "nullable": true
                },
                "experience_years": {
                  "type": "integer",
                  "nullable": true
                },
                "price": {
                  "type": "number",
                  "nullable": true
                },
                "offline_price": {
                  "type": "number",
                  "nullable": true
                },
                "only_offline": {
                  "type": "boolean",
                  "nullable": true
                },
                "descriptions": {
                  "type": "object",
                  "properties": {
                    "az": {
                      "type": "string"
                    },
                    "en": {
                      "type": "string"
                    },
                    "ru": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Updated profile (same shape as GET /me)."
          }
        },
        "tags": ["Users - User Detail"]
      },
      "parameters": []
    },
    "/me/avatar/": {
      "post": {
        "operationId": "me_avatar_create",
        "description": "",
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "Avatar image (jpg/png, max 5MB).",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Updated profile (same shape as GET /me)."
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": ["Users - User Detail"]
      },
      "delete": {
        "operationId": "me_avatar_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Updated profile (same shape as GET /me)."
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": ["Users - User Detail"]
      },
      "parameters": []
    },
    "/me/files/": {
      "get": {
        "operationId": "me_files_list",
        "description": "",
        "parameters": [
          {
            "name": "purpose",
            "in": "query",
            "type": "string",
            "enum": ["appointment", "forum", "prescription", "review", "chat"]
          },
          {
            "name": "page",
            "in": "query",
            "type": "integer"
          },
          {
            "name": "per_page",
            "in": "query",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/PaginatedUserFileList"
            }
          }
        },
        "tags": ["Files"]
      },
      "parameters": []
    },
    "/uploads/": {
      "post": {
        "operationId": "uploads_create",
        "description": "",
        "parameters": [
          {
            "name": "purpose",
            "in": "formData",
            "description": "Upload purpose.",
            "required": true,
            "type": "string",
            "enum": [
              "appointment",
              "forum",
              "forum_answer",
              "prescription",
              "review",
              "avatar",
              "chat"
            ]
          },
          {
            "name": "files[]",
            "in": "formData",
            "description": "One or more files (repeat the key for multiple files).",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Uploaded files list."
          }
        },
        "consumes": [
          "multipart/form-data",
          "application/x-www-form-urlencoded"
        ],
        "tags": ["Files"]
      },
      "parameters": []
    },
    "/uploads/{id}/": {
      "delete": {
        "operationId": "uploads_delete",
        "description": "",
        "parameters": [],
        "responses": {
          "204": {
            "description": "Upload deleted."
          }
        },
        "tags": ["Files"]
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "type": "string"
        }
      ]
    }
  },
  "definitions": {
    "BannerAd": {
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "title": {
          "title": "Title",
          "type": "string",
          "readOnly": true
        },
        "body": {
          "title": "Body",
          "type": "string",
          "readOnly": true
        },
        "image_url": {
          "title": "Image url",
          "type": "string",
          "readOnly": true,
          "x-nullable": true,
          "format": "uri"
        },
        "link": {
          "title": "Link",
          "type": "string",
          "maxLength": 500
        },
        "button_text": {
          "title": "Button text",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "BannerAdWrite": {
      "required": ["title"],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "title": {
          "title": "Title",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "x-nullable": true
          }
        },
        "body": {
          "title": "Body",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "x-nullable": true
          }
        },
        "button_text": {
          "title": "Button text",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "x-nullable": true
          }
        },
        "image": {
          "title": "Image",
          "type": "string",
          "readOnly": true,
          "x-nullable": true,
          "format": "uri"
        },
        "link": {
          "title": "Link",
          "type": "string",
          "maxLength": 500
        },
        "placement": {
          "title": "Placement",
          "type": "string",
          "enum": ["home", "doctor_list"]
        },
        "starts_at": {
          "title": "Starts at",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "ends_at": {
          "title": "Ends at",
          "type": "string",
          "format": "date-time",
          "x-nullable": true
        },
        "is_active": {
          "title": "Is active",
          "type": "boolean"
        },
        "sort_order": {
          "title": "Sort order",
          "type": "integer",
          "maximum": 2147483647,
          "minimum": 0
        }
      }
    },
    "AdminAppointmentList": {
      "required": ["type", "date", "start_time", "end_time"],
      "type": "object",
      "properties": {
        "id": {
          "title": "ID",
          "type": "integer",
          "readOnly": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": ["pending", "confirmed", "completed", "declined", "cancelled"]
        },
        "type": {
          "title": "Type",
          "type": "string",
          "enum": ["online", "offline"]
        },
        "parent_id": {
          "title": "Parent id",
          "type": "integer",
          "readOnly": true,
          "x-nullable": true
        },
        "date": {
          "title": "Date",
          "type": "string",
          "format": "date"
        },
        "start_time": {
          "title": "Start time",
          "type": "string"
        },
        "end_time": {
          "title": "End time",
          "type": "string"
        },
        "duration_minutes": {
          "title": "Duration minutes",
          "type": "integer",
          "readOnly": true
        },
        "complaints": {
          "title": "Complaints",
          "type": "string"
        },
        "details": {
          "title": "Details",
          "type": "string"
        },
        "address": {
          "title": "Address",
          "type": "string",
          "x-nullable": true
        },
        "payment": {
          "title": "Payment",
          "type": "string",
          "readOnly": true
        },
        "user": {
          "title": "User",
          "type": "string",
          "readOnly": true
        },
        "doctor": {
          "title": "Doctor",
          "type": "string",
          "readOnly": true
        },
        "files": {
          "title": "Files",
          "type": "string",
          "readOnly": true
        },
        "created_at": {
          "title": "Created at",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "decline_reason": {
          "title": "Decline reason",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        },
        "postpone_reason": {
          "title": "Postpone reason",
          "type": "string",
          "readOnly": true,
          "minLength": 1,
          "x-nullable": true
        }
      }
    },
    "PaginationMeta": {
      "required": ["page", "per_page", "total", "total_pages"],
      "type": "object",
      "properties": {
        "page": {
          "title": "Page",
          "type": "integer"
        },
        "per_page": {
          "title": "Per page",
          "type": "integer"
        },
        "total": {
          "title": "Total",
          "type": "integer"
        },
        "total_pages": {
          "title": "Total pages",
          "type": "integer"
        }
      }
    },
    "PaginatedAdminAppointmentList": {
      "required": ["data", "meta"],
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AdminAppointmentList"
          }
        },
        "meta": {
          "$ref": "#/definitions/PaginationMeta"
        }
      }
    },
    "AdminAppointmentCreate": {
      "required": ["doctor_id", "type", "date", "start_time"],
      "type": "object",
      "properties": {
        "doctor_id": {
          "title": "Doctor id",
          "type": "integer"
        },
        "user_id": {
          "title": "User id",
          "type": "integer",
          "x-nullable": true
        },
        "fullname": {
          "title": "Fullname",
          "type": "string",
          "maxLength": 255,
          "minLength": 1
        },
        "type": {
          "title": "Type",
          "type": "string",
          "enum": ["online", "offline"]
        },
        "date": {
          "title": "Date",
          "type": "string",
          "format": "date"
        },
        "start_time": {
          "title": "Start time",
          "type": "string"
        },
        "end_time": {
          "title": "End time",
          "type": "string"
        },
        "complaints": {
          "title": "Complaints",
          "type": "string"
        },
        "details": {
          "title": "Details",
          "type": "string"
        },
        "address": {
          "title": "Address",
          "type": "string",
          "x-nullable": true
        },
        "status": {
          "title": "Status",
          "type": "string",
          "enum": [
            "pending",
            "confirmed",
            "completed",
            "declined",
            "cancelled"
          ],
          "default": "confirmed"
        },
        "payment_method": {
          "title": "Payment method",
          "type": "string",
          "enum": ["card", "insurance"],
          "x-nullable": true
        },
        "payment_status": {
          "title": "Payment status",
          "type": "string",
          "enum": ["unpaid", "paid"],
          "default": "unpaid"
        },
        "amount": {
          "title": "Amount",
          "type": "string",
          "format": "decimal",
          "default": "0.00"
        },
        "paid_amount": {
          "title": "Paid amount",
          "type": "string",
          "format": "decimal",
          "default": "0.00"
        }
      }
    },
    "AdminAppointmentUpdate": {
      "type": "object",
      "properties": {
        "status": {
          "title": "Status",
          "type": "string",
          "enum": ["pending", "confirmed", "completed", "declined", "cancelled"]
        },
        "date": {
          "title": "Date",
          "type": "string",
          "format": "date"
        },
        "start_time": {
          "title": "Start time",
          "type": "string"
        },
[...]
